# ========================
# DIAGRAMAS 
# ========================
documentos/out/
# ========================
# GLOBAL
# ========================
.DS_Store
Thumbs.db

# ========================
# NODE / ANGULAR
# ========================
node_modules/
dist/
.angular/
.angular-cache/
npm-debug.log*
yarn-error.log*

# ========================
# ENV FILES
# ========================
.env
.env.*
!.env.example

# ========================
# IDEs
# ========================
.vscode/
.idea/
*.iml

# ========================
# LOGS
# ========================
logs/
*.log

# ========================
# TEMP FILES
# ========================
tmp/
temp/